* {
  box-sizing: border-box;
}


body {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2.5em;
}

.header-app {
  padding: 2px 5px;
}

.container-app {
  width: 500px;
  padding: 2px 5px;
}

.footer-filter {
  position: fixed;
  bottom: 150px;
  left: 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-item {
  cursor: pointer;
}
.button-item:hover {
  transform: scale(1.2);
}


@media screen and (max-device-width: 992px) {
  .container-app {
    width: 100%;
  }
  .button-block {
    width: 100%;
  }
  .footer-filter {
    bottom: 0;
  }
}
